%% -*- erlang -*-
{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{deps, [
       {'parse_trans', ".*",
        {git, "https://github.com/uwiger/parse_trans.git", "3.0.0"}}
       ]}.
{erl_first_files, ["src/do.erl", "src/monad_trans.erl", "src/monad.erl", 
                   "src/monad_reader_trans.erl", "src/monad_state_trans.erl", "src/monad_cont_trans.erl",
                   "src/monad_t_transform.erl",
                   "src/reader_t.erl", "src/state_t.erl", "src/cont_t.erl"]}.
